Copyright © 2024 Cristóvão GUIHO. All Rights Reserved.

data
  - https://odre.opendatasoft.com/explore/dataset/consommation-quotidienne-brute/information/

Data overview: the data represents the daily consumption of electricity in France.

Deadline
  - 2025-05-13

Features
  - Data source - user choice
    - Retrieve from internet
    - Load a local file

  - Output
    - User can ask for a specific output
      - Max consumption
      - Min consumption
      - Total of days with consumption above a certain threshold
      - Total of days with consumption below a certain threshold
      - Average consumption


